hr{
    border-bottom: 0;
    border-top-width: 1px;
    border-top-color: #e3e3eb;
}
.text{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.logo_td{
    width: 50%;
    padding-left: 20px;
}
.phones{
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
.phones a{
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.phones p{
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}
.proposition{
    width: 100%;
}
.h1{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}
.t1{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 10px;
}
.button1{
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 30px;
}
.table3{
    background-color: #ededf5;
}
.cols td{
    text-align: center;
    width: 33%;
    padding: 10px;
}
.t3_p1{
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}
.t3_p2{
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    font-family: "Arial";
}
.table4 td{
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding: 20px;
    padding-bottom: 0;
}
.table4 img{
    width: 100%;
}
.table4 a{
    font-size: 16px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.table4 p{
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}
.table5{
    background-color: #fd8300;
    background-image: url(https://raw.githubusercontent.com/Taras-Bilyk/hata_plus_email/master/images/background.jpg);
    background-repeat: repeat;
}
.table5 .footer1{
    text-align: center;
}
.f1p1{
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}
.f1p2{
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
}
